[*]
charset = utf-8

[*.{json,yml}]
indent_style = space
indent_size = 2

[*.{js,ts}]
max_line_length = 120
indent_style = space
indent_size = 2

[*.{html,jsx,tsx}]
max_line_length = 180
indent_style = space
indent_size = 2
